version: '3.8'

services:
  postgres:
    container_name: gestao_de_vagas
    image: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: gestao_vagas
